<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576956181614-klot30c3hmfb6fvfdlflduvchn361jps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576956181614-klot30c3hmfb6fvfdlflduvchn361jps</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>576956181614-sa5q75pcdmgd9p5df0or0t2fsemhdd2k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCIxoI1igy1li1upo93XJLm1Ixggv4oMHE</string>
	<key>GCM_SENDER_ID</key>
	<string>576956181614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ITinTheValley</string>
	<key>PROJECT_ID</key>
	<string>itinthevalley-bba2b</string>
	<key>STORAGE_BUCKET</key>
	<string>itinthevalley-bba2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576956181614:ios:402c9fd0dd35b1eae54a7f</string>
</dict>
</plist>